/************BASE STRUCTURE: STYLING OF PARENT LEVEL ELEMENTS************/
body {
  color: #222;
  font-family: 'Vollkorn', serif;
  font-size: 16px;
}

a {
  color: #41a30d;
  text-decoration: none;
}

a:hover {
  text-decoration: overline underline;
}

h1, h2, h3, h4, h5, h6, th {
  font-weight: 400;
}

ul {
  list-style-type: none;
   padding: 0;
}

tr:nth-child(even){
  background: #CCC;
}
tr:nth-child(odd) {
  background: #FFF;
}

th {
  font-style: oblique;
}


/************BASE STYLES: ERRORS, DIVIDERS, ETC.************/
.errors {
  color:  #a64027;
}

.divider {
  border-top: 1px dotted #41a30d;
}

.center {
  text-align: center;
}

.italics {
  font-style: oblique;
}

/************HEADER************/

header {
  background-color: #222;
  color: #fff;
  padding: 10px 0px;
  width: 100%;
}

header a {
  color: #fff;
}

header a:hover {
  text-decoration: none;
}

header .brand {
  margin-left: 10px;
}

header #nav {
  display: inline;
  margin-right: 10px;
}

.floatingHeader {
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
}


/************CONTENT************/

#content {
  margin: 40px 5% 0px 5%;
  min-width: 500px;
}


/* User Forms */
.user-form {
  margin: auto;
  width: 60%;
}

.user-form input {
  display: block;
  margin: 10px 0px;
  width: 100%;
}

.user-form label {
  font-size: 18px;
}

.user-form input[type=submit] {
  background-color: #222;
  border: none;
  color: #fff;
  margin: auto;
  padding: 5px 0px;
  text-transform: uppercase;
  width: 100px;
}

.user-form input[type=submit]:hover {
  background-color: #41a30d;
}

/* User Dashboard */
.dash-nav {
  float: right;
  display: inline;
  margin: 1.75em 0px;
}

.dash-welcome {
  float: left;
  display: inline;
}

#create-survey {
  clear: both;
}

/* Survey Responses Overview Page */
.survey_responses {
  padding: 0;
  padding-left: 20px;
}

.survey_responses li {
 color: #41a30d;
 font-size: 20px;
 margin: 75px 0px;
}

.survey_responses li:first-child {
  margin-top: 20px;
}

.survey_responses li table {
  color: #222;
  font-weight: 400;
  width: 100%;
}

.survey_responses li table th {
  font-style: oblique;
  font-size: 20px;
}

.no-response {
  color: #222;
  font-weight: 400;
}


/************DBC SKELETON DEFAULTS************/
.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

