/************BASE STRUCTURE: STYLING OF PARENT LEVEL ELEMENTS************/
body {
  color: #222;
  font-family: 'Vollkorn', serif;
  font-size: 16px;
}

::selection {
  background: #00E600; /* Safari */
  }
::-moz-selection {
  background: #00E600; /* Firefox */
}

a {
  color: #41a30d;
  text-decoration: none;
}

a:hover {
  text-decoration: overline underline;
}

h1, h2, h3, h4, h5, h6, th {
  font-weight: 400;
}

ul {
  list-style-type: none;
   padding: 0;
}

/* TABLE STYLES */

tr:nth-child(even){
  background: #CCC;
}
tr:nth-child(odd) {
  background: #FFF;
}

th {
  font-style: oblique;
  text-align: left;
}

/* FORM STYLES */

input[type=submit], button {
  background-color: #222;
  border: none;
  color: #fff;
  margin: auto;
  padding: 5px 4px;
}

input[type=submit]:hover {
  background-color: #41a30d;
}

label {
  font-size: 18px;
}

#sign-up input {
  padding: 20px 30px;
  font-size: 1.5em;
}


/************BASE STYLES: ERRORS, DIVIDERS, ETC.************/
.errors {
  color:  #a64027;
}

.divider {
  border-top: 1px dotted #41a30d;
}

.center {
  text-align: center;
}

.italics {
  font-style: oblique;
}

/************HEADER************/

header {
  background-color: #222;
  color: #fff;
  padding: 10px 0px;
  width: 100%;
}

header a {
  color: #fff;
}

header a:hover {
  color: #41a30d;
  text-decoration: none;
}

header .brand {
  margin-left: 5%;
}

header #nav {
  float: right;
  display: inline;
  margin-right: 5%;
}

.floatingHeader {
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
}


/************CONTENT************/

#content {
  margin: 40px 5% 0px 5%;
  min-width: 600px;
}

.survey-category {
  float: left;
  width: 50%;
}


/* User Forms */
.user-form {
  margin: auto;
  width: 60%;
}

.user-form input {
  display: block;
  margin: 10px 0px;
  width: 100%;
}

.user-form input[type=submit] {
  width: 100px;
}

.user-form input[type=submit]:hover {
  background-color: #41a30d;
}

/* User Dashboard */
/* Welcome Message */
.dash-nav {
  float: right;
  display: inline;
  margin: 1.75em 0px;
}

.dash-welcome {
  float: left;
  display: inline;
}

/* User Dashboard */
/* Create A New Survey */

#create-survey {
  clear: both;
}

#create-survey form {
    padding: 30px 0px;
}

#create-survey input {
  display: block;
  margin: 10px 0px;
  width: 100%;
}

#create-survey input[type=submit] {
  margin-top: 20px;
  width: 10%;
}

/* User Dashboard */
/* Your Surveys */
.your-surveys {
  margin: 30px 0px;
  width: 100%;
}

/* Survey Responses Overview Page */
.survey_responses {
  padding: 0;
  padding-left: 20px;
}

.survey_responses li {
 color: #41a30d;
 font-size: 20px;
 margin: 75px 0px;
}

.survey_responses li:first-child {
  margin-top: 20px;
}

.survey_responses li table {
  color: #222;
  font-weight: 400;
  width: 100%;
}

.survey_responses li table th {
  font-style: oblique;
  font-size: 20px;
}

.no-response {
  color: #222;
  font-weight: 400;
}

/************CREATE QUESTIONS************/

#new-question input:not([type=submit]) {
  width: 100%;
}

.question {
  margin-top: 20px;
}

.question form {
  margin-top: 10px;
}

#add-question input[type=submit] {
  float: left;
  margin-right: 20px;
}

#add-question button {
  display: inline;
}

#questions {
  margin-top: 20px;
}

#questions p {
  display: inline;
}

#questions input:not([type=submit]) {
  width: 50%;
}

#questions input[type=radio] {
  width: 20px;
}

#questions input[type=checkbox] {
  width: 20px;
}

#questions input[type=submit] {
  float: right;
}

/************DBC SKELETON DEFAULTS************/
.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

