/************BASE STRUCTURE: STYLING OF PARENT LEVEL ELEMENTS************/
body {
  color: #222;
  font-family: 'Vollkorn', serif;
}

a {
  color: #41a30d;
  text-decoration: none;
}

a:hover {
  text-decoration: overline underline;
}

h1 {
  font-weight: 400;
}


/************BASE STYLES: ERRORS, DIVIDERS, ETC.************/
.errors {
  color:  #a64027;
}


/************HEADER************/


/************CONTENT************/




/************DBC SKELETON DEFAULTS************/
.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

#nav {
  float: right;
}
