/************BASE STRUCTURE: STYLING OF PARENT LEVEL ELEMENTS************/
body {
  color: #222;
  font-family: 'Vollkorn', serif;
}

a {
  color: #41a30d;
  text-decoration: none;
}

a:hover {
  text-decoration: overline underline;
}

h1 {
  font-weight: 400;
}


/************BASE STYLES: ERRORS, DIVIDERS, ETC.************/
.errors {
  color:  #a64027;
}

.divider {
  border-top: 1px dotted #222;
}


/************HEADER************/

header {
  background-color: #222;
  color: #fff;
  display: inline-block;
  padding: 10px 0px;
  width: 100%;
}

header a {
  color: #fff;
}

header a:hover {
  text-decoration: none;
}

header .brand {
  margin-left: 10px;
}

header #nav {
  display: inline-block;
  float: right;
  margin-right: 10px;
}


/************CONTENT************/

#content {
  background-color: red;
  margin: 0px 5%;
  min-width: 900px;
}


/************DBC SKELETON DEFAULTS************/
.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

#nav {
  float: right;
}
