<div id='add-question'>
  <form action="/survey/respond/<%= @survey.id %>" method='get'><input type='submit' value='Publish Survey'></form>
  <button id='add'>Add a Question</button>
</div>
<div id='new-question'>
  <form id='define' action='/survey/create/<%=survey.id%>/add_question' method='post'>
    <input id='text' type='text' name='question[text]' placeholder='Question'><br>
    <label for='question[type]'>Select Question Type</label>
    <select id='type' name='question[type]'>
      <option selected='selected'></option>
      <option value='McCheck'>Multiple Choice Checkbox</option>
      <option value='McRadio'>Multiple Choice Radio Button</option>
      <option value='NumSlider'>1 to 10 Slider</option>
      <option value='PercentSlider'>Percentage Slider</option>
      <option value='ShortResponse'>Short Response</option>
      <option value='TextArea'>Text Area</option>
    </select><br>
  </form>
</div>
<button id='create'>Create</button>
<button id='add-option'>Add Option</button>
<div id='options'>
</div>

