<h3>Survey Name</h3>
<button id='add'>Add a Question</button>
<button id='done'>Done</button>
<div id='new-question'>
  <form id='define' action='' method='post'>
    <input type='text' name='question[text]' placeholder='Question'><br>
    <label for='question[type]'>Select Question Type</label>
    <select id='type' name='question[type]'>
      <option selected='selected'></option>
      <option value='McCheck'>Multiple Choice Checkbox</option>
      <option value='McRadio'>Multiple Choice Radio Button</option>
      <option value='ShortResposne'>Short Response(s)</option>
      <option value='TextArea'>Text Area</option>
    </select><br>
  </form>
</div>
<button id='create'>Create</button>
<button id='add-option'>Add Option</button>