<div class='new-question'>
  <h3>Add a Question</h4>
  <form action='' method='post'>
    <input type='text' name='question[text]' placeholder='Question'>
    <select name='question[type]'>
      <option value='McCheck'>Multiple Choice Checkbox</option>
      <option value='McRadio'>Multiple Choice Radio Button</option>
      <option value='ShortResposne'>Short Response(s)</option>
      <option value='TextArea'>Text Area</option>
    </select>
  </form>
  <form action='' method='post'>
    <input type='text' name='responses' placeholder='Option1, Option2, etc.'>
  </form>
</div>