<div class="dash-nav">
  <a href="/profile/<%=current_user.id %>/edit">Edit your profile.</a> 
  <a href="/profile/<%= current_user.id %>/delete" alt="Delete your profile">Delete your profile.</a>
</div>

<h1 class="dash-welcome">Hi, <%= current_user.first_name %>!</h1>

<div id="create-survey">
  <h2>Create A New Survey</h2>
  <hr class="divider"/>
  <form action="/survey/create" method="POST">
    <label for="title">Title:
    <input type="text" name="title" placeholder="Survey Title">
    </label>
    <label for="description">Description:
    <input type="text" name="description" placeholder="Survey Description">
    </label>
    <input type="submit" value="Let's go!">
  </form>
  
</div>

<div id="own-results">
  <h2>Your Survey Results</h2>
  <hr class="divider"/> 
  
</div>

<div id="participant-results">
  <h2>Surveys You've Participated In</h2>
  <hr class="divider"/>
</div>
