<h1>Edit your user information.</h1>

<form action="/profile/<%= current_user.id %>/edit" method="post">
  <input type="text" name="user[first_name]" placeholder="First Name" value="<%=current_user.first_name %>" required>
  <input type="text" name="user[last_name]" placeholder="Last Name" value="<%=current_user.last_name %>" required>
  <input type="email" name="user[email]" placeholder="Email" value="<%=current_user.email %>" required>
  <input type="password" name="user[password]" placeholder="Password">
  <input type="password" name="user[password_confirmation]" placeholder="Password Confirmation">
  <input type="submit" value="Update!">
</form>
