<h1 class="center">Sign In</h1>

<% if @errors %>
  <% @errors.each do |error| %>
    <p class="center errors"><%= error %></p>
  <% end %>
<% end %>

<form action="/login" method="post" class="user-form">
  <label for="email">Email:
    <input type="text" name="email" placeholder="email">
  </label>
  <label for="password">Password:
  <input type="password" name="password" placeholder="password">
  </label>
  <input type="submit" value="Login!">
</form>
