<!DOCTYPE html>
<html lang="en">
<head>
   <!--normalize-->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--base css-->
  <link rel="stylesheet" href="/css/application.css">
   <!--webfonts-->
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="/js/header.js"></script>

  <title></title>
</head>
<body>
<div class="persist-area">
  <header class="persist-header"> 
      <span class="brand">
        <a href='/' alt="home">SurveyGorilla</a>
      </span>
       <div id="nav">
      <% if current_user %>
      <a href="/profile/<%= current_user.id %>" alt="Delete your profile">Dashboard</a>  || 
      <a href="/logout" alt="Log out of your account">Logout</a>
    <% else %>
      <span>
      <a href="/register">Sign Up</a> ||
      <a href="/login">Login</a>
      </span>
    <% end %>
    </div>
  </header>
  <div id="content">
    <%= yield %>
  </div>
  <footer>
    <p> A KRKJ (Kevin Rachel Katherine Justin) Production. Made possible by <a href="http://devbootcamp.com" alt="DevBootcamp">Dev Bootcamp</p>
    <nav>
      <a href="#" alt="Contact">Contact</a> || 
      <a href="#" alt="About">About Us</a>
    </nav>
  </footer>
</div>
</body>
</html>
